{% extends 'base.html' %}

{% block home %}
    <div class="add_info">
        <form action="/add_info" method="post">
            <label for="name">姓名</label>
            <input type="text" name="name" placeholder="姓名" required>
            <label for="cla">班级</label>
            <input type="text" name="cla" placeholder="班级" required>
            <br>
            <label for="stu_id">学号</label>
            <input type="text" name="stu_id" placeholder="学号" required>
            <label for="phone">手机号</label>
            <input type="text" name="phone" placeholder="手机号" required>
            <br>
            <input type="submit" value="添加" id="addinfo">
        </form>
    </div>
    <div class="show_info">
    {% if res != '' %}
        {% for item in res %}
            <ul>
                <li>
                    <span>姓名：{{ item.name }}</span>
                    <span>班级：{{ item.cla }}</span>
                    <span>学号：{{ item.stuid }}</span>
                    <span>手机号：{{ item.phone }}</span>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}